.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.header>input {
    width: 50%;
    font-size: 2rem;
    border-radius: 10px;
    padding: 20px 15px;
    outline: none;}
.daycontainer {
    width: 100vw;
    display: flex;
}
body{
    background-color:skyblue;
}
.image{
    width: 100%;
    height: 150px;
    object-fit: contain;
}
.datesection {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 0 5px;
}
  
.daycontainer>div{
    width:300px;
     height:fit-content;
     font-weight: bolder;
     margin: 0 5px;
     box-shadow: .5rem .5rem .5rem rgb(145, 159, 163); 
}
.datesection,.temp_section{
    display:  flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding:0 5px;

}
.temp{
    padding-left: 30%;
}
.date{
    font-size: small;
}
.day{
    font-size: small;
}

